
  <div class="nav-container">
    <ul class="nav nav-tabs">
      <li class="presentation active">
        <a class="nav-link" href="#">Agents <span class="sr-only">(current)</span></a>
      </li>
      <li class="presentation">
        <%= link_to "Transactions", transactions_path, class: 'nav-link' %>
      </li>
      <li class="sign-out pull-right">
        <%= link_to '<span class="glyphicon glyphicon-log-out"></span>&nbsp;Sign out'.html_safe, destroy_user_session_path, :method => :delete, class: 'nav-link' %>
      </li>
    </ul>
  </div>



<div id="">
  <div>
    <div class="panel">

      <div class="panel-body">
        <div class="">
          <table id="agentTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr class="filters">
              <th>

                <div class="form-group">
                  <div class="input-group input-group-md">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    <div class="icon-addon addon-md">
                      <input type="text" placeholder="Account" class="form-control">
                    </div>
                  </div>
                </div>

              </th>
              <th>

                <div class="form-group">
                  <div class="input-group input-group-md">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    <div class="icon-addon addon-md">
                      <input type="text" placeholder="Branch" class="form-control">
                    </div>
                  </div>
                </div>

              </th>
              <th>

                <div class="form-group">
                  <div class="input-group input-group-md">
                  </div>
                </div>

              </th>
            </tr>
            <tr>
              <th>Account</th>
              <th>Branch</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>








  <script>
    $(document).ready(function () {
      $('.filters input, .filters select', this).on('keyup', (function (_this) {
        return function (e) {
          var th;
          th = $(e.target).closest("th");
          return $.agentsDataTableApi.column(th.index()).search($(e.target).val()).draw();
        };
      })(this));

      $("#create_agent_btn").click(function(){
        $.confirm({
          title: 'Create a New Agent',
          content: '' +
          '<form class="formName" id="create-agent-form">' +
          '<div class="form-group">' +
          '<label>Enter Account:</label>' +
          '<input type="text" placeholder="Account" class="account-field form-control" required  maxlength="12" />' +
          '</div>' +
          '<div class="form-group">' +
          '<label>Enter Branch:</label>' +
          '<input type="text" placeholder="Branch" class="branch-field form-control" required />' +
          '</div>' +
          '</form>',
          type: "blue",
          buttons: {
            formSubmit: {
              text: 'Create',
              btnClass: 'btn-blue',
              action: function () {
                var accountFieldValue = this.$content.find('.account-field').val();
                var branchFieldValue = this.$content.find('.branch-field').val();
                if(!accountFieldValue){
                  $.alert({
                    title: 'Validation Error!',
                    content: "Please enter an Account id.",
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                      ok: {
                        text: 'Ok',
                        action: function () {
                        }
                      }
                    }
                  });
                  return false;
                }else{
                  if(accountFieldValue.length < 6){
                    $.alert({
                      title: 'Validation Error!',
                      content: "Account id must be 6 or more characters.",
                      type: 'red',
                      typeAnimated: true,
                      buttons: {
                        ok: {
                          text: 'Ok',
                          action: function () {
                          }
                        }
                      }
                    });
                    return false;
                  }else{
                    clientComm.post("/agents", "account="+pad_with_zeroes(accountFieldValue, 12)+"&branch="+branchFieldValue, function(){
                      //Successs
                      $.alert({
                        title: 'Success!',
                        content: "Agent successfully added.",
                        type: 'green',
                        typeAnimated: true,
                        buttons: {
                          ok: {
                            text: 'Ok',
                            action: function () {
                            }
                          }
                        }
                      });
                      $.agentsTable.draw();
                    }, function(){
                      // Fail
                      $.alert({
                        title: 'Server Error!',
                        content: "Error trying to add agent. Please contact admin.",
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                          ok: {
                            text: 'Ok',
                            action: function () {
                            }
                          }
                        }
                      });


                    })
                  }
                }
              }
            },
            cancel: function () {
              //close
            },
          },
          onContentReady: function () {
            // bind to events
            var jc = this;
            this.$content.find('form').on('submit', function (e) {
              // if the user submits the form by pressing enter in the field.
              e.preventDefault();
              jc.$$formSubmit.trigger('click'); // reference the button and click it
            });
          }
        });
      });

    });
  </script>





























