<div class="off-canvas-wrapper side-menu">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>










    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
      <ul class="vertical menu" data-drilldown><!-- start of the drilldown multi level menu -->
        <li class="active">
          <%= link_to '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="20px" height="20px" viewBox="0 0 80.13 80.13" style="enable-background:new 0 0 80.13 80.13;" xml:space="preserve">
<g>
	<path d="M48.355,17.922c3.705,2.323,6.303,6.254,6.776,10.817c1.511,0.706,3.188,1.112,4.966,1.112   c6.491,0,11.752-5.261,11.752-11.751c0-6.491-5.261-11.752-11.752-11.752C53.668,6.35,48.453,11.517,48.355,17.922z M40.656,41.984   c6.491,0,11.752-5.262,11.752-11.752s-5.262-11.751-11.752-11.751c-6.49,0-11.754,5.262-11.754,11.752S34.166,41.984,40.656,41.984   z M45.641,42.785h-9.972c-8.297,0-15.047,6.751-15.047,15.048v12.195l0.031,0.191l0.84,0.263   c7.918,2.474,14.797,3.299,20.459,3.299c11.059,0,17.469-3.153,17.864-3.354l0.785-0.397h0.084V57.833   C60.688,49.536,53.938,42.785,45.641,42.785z M65.084,30.653h-9.895c-0.107,3.959-1.797,7.524-4.47,10.088   c7.375,2.193,12.771,9.032,12.771,17.11v3.758c9.77-0.358,15.4-3.127,15.771-3.313l0.785-0.398h0.084V45.699   C80.13,37.403,73.38,30.653,65.084,30.653z M20.035,29.853c2.299,0,4.438-0.671,6.25-1.814c0.576-3.757,2.59-7.04,5.467-9.276   c0.012-0.22,0.033-0.438,0.033-0.66c0-6.491-5.262-11.752-11.75-11.752c-6.492,0-11.752,5.261-11.752,11.752   C8.283,24.591,13.543,29.853,20.035,29.853z M30.589,40.741c-2.66-2.551-4.344-6.097-4.467-10.032   c-0.367-0.027-0.73-0.056-1.104-0.056h-9.971C6.75,30.653,0,37.403,0,45.699v12.197l0.031,0.188l0.84,0.265   c6.352,1.983,12.021,2.897,16.945,3.185v-3.683C17.818,49.773,23.212,42.936,30.589,40.741z" fill="#FFFFFF"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg><div>Agents</div>'.html_safe, agents_path %>
        </li>
        <li>
          <%= link_to '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px">
            <g>
              <g>
                <circle cx="435.2" cy="345.6" r="25.6" fill="#FFFFFF"/>
              </g>
            </g>
            <g>
              <g>
                <circle cx="358.4" cy="345.6" r="25.6" fill="#FFFFFF"/>
              </g>
            </g>
            <g>
              <g>
                <path d="M460.8,89.6H51.2C22.921,89.6,0,112.52,0,140.8v230.4c0,28.279,22.921,51.2,51.2,51.2h409.6    c28.279,0,51.2-22.921,51.2-51.2V140.8C512,112.52,489.079,89.6,460.8,89.6z M486.4,371.2c0,14.114-11.486,25.6-25.6,25.6H51.2    c-14.114,0-25.6-11.486-25.6-25.6v-128h460.8V371.2z M486.4,217.6H25.6V192h460.8V217.6z M486.4,166.4H25.6v-25.6    c0-14.114,11.486-25.6,25.6-25.6h409.6c14.114,0,25.6,11.486,25.6,25.6V166.4z" fill="#FFFFFF"/>
              </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg><div>Transactions</div>'.html_safe, transactions_path %>
        </li>
        <li>
          <%= link_to '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 27.442 27.442" style="enable-background:new 0 0 27.442 27.442;" xml:space="preserve" width="512px" height="512px">
            <g>
              <path d="M19.494,0H7.948C6.843,0,5.951,0.896,5.951,1.999v23.446c0,1.102,0.892,1.997,1.997,1.997h11.546   c1.103,0,1.997-0.895,1.997-1.997V1.999C21.491,0.896,20.597,0,19.494,0z M10.872,1.214h5.7c0.144,0,0.261,0.215,0.261,0.481   s-0.117,0.482-0.261,0.482h-5.7c-0.145,0-0.26-0.216-0.26-0.482C10.612,1.429,10.727,1.214,10.872,1.214z M13.722,25.469   c-0.703,0-1.275-0.572-1.275-1.276s0.572-1.274,1.275-1.274c0.701,0,1.273,0.57,1.273,1.274S14.423,25.469,13.722,25.469z    M19.995,21.1H7.448V3.373h12.547V21.1z" fill="#FFFFFF"/>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg><div>Mobile App</div>'.html_safe, uploads_path %>
        </li>
        <li>
          <%= link_to '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 490.3 490.3" style="enable-background:new 0 0 490.3 490.3;" xml:space="preserve" width="512px" height="512px">
            <g>
              <g>
                <path d="M0,121.05v248.2c0,34.2,27.9,62.1,62.1,62.1h200.6c34.2,0,62.1-27.9,62.1-62.1v-40.2c0-6.8-5.5-12.3-12.3-12.3    s-12.3,5.5-12.3,12.3v40.2c0,20.7-16.9,37.6-37.6,37.6H62.1c-20.7,0-37.6-16.9-37.6-37.6v-248.2c0-20.7,16.9-37.6,37.6-37.6h200.6    c20.7,0,37.6,16.9,37.6,37.6v40.2c0,6.8,5.5,12.3,12.3,12.3s12.3-5.5,12.3-12.3v-40.2c0-34.2-27.9-62.1-62.1-62.1H62.1    C27.9,58.95,0,86.75,0,121.05z" fill="#FFFFFF"/>
                <path d="M385.4,337.65c2.4,2.4,5.5,3.6,8.7,3.6s6.3-1.2,8.7-3.6l83.9-83.9c4.8-4.8,4.8-12.5,0-17.3l-83.9-83.9    c-4.8-4.8-12.5-4.8-17.3,0s-4.8,12.5,0,17.3l63,63H218.6c-6.8,0-12.3,5.5-12.3,12.3c0,6.8,5.5,12.3,12.3,12.3h229.8l-63,63    C380.6,325.15,380.6,332.95,385.4,337.65z" fill="#FFFFFF"/>
              </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
          </svg><div>Logout</div>'.html_safe, destroy_user_session_path, :method => :delete, class: 'nav-link' %>
        </li>
      </ul>
    </div>


















    <div class="off-canvas-content" data-off-canvas-content>

      <div class="top-bar-container">
        <div class="top-bar" id="main-menu">
          <div class="top-bar-left">
            <ul class="menu">
              <li>
                <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
              </li>
              <li class="top-menu-item">
                <strong>Agents</strong>
              </li>
              <li class="top-menu-item">
                <a href="#" id="create_agent_btn"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Create Agent</a>
              </li>
            </ul>
          </div>
          <div class="top-bar-right menu-logo-container">
            <img class="menu-logo" src="/assets/SDB-logo-English.jpg"/>
          </div>
        </div>
      </div>



      <div class="data-table-container">
        <div>
          <div>

            <div>
              <div>
                <table id="agentTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                  <tr class="filters">
                    <th>

                      <div class="form-group">
                        <div class="input-group input-group-md">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                          <div class="icon-addon addon-md">
                            <input type="text" data-search="account" placeholder="Account" class="form-control">
                          </div>
                        </div>
                      </div>

                    </th>
                    <th>

                      <div class="form-group">
                        <div class="input-group input-group-md">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                          <div class="icon-addon addon-md">
                            <input type="text" data-search="branch" placeholder="Branch" class="form-control">
                          </div>
                        </div>
                      </div>

                    </th>
                    <th>

                      <div class="form-group">
                        <div class="input-group input-group-md">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                          <div class="icon-addon addon-md">
                            <input type="text" data-search="region" placeholder="Region" class="form-control">
                          </div>
                        </div>
                      </div>

                    </th>
                    <th>

                      <div class="form-group">
                        <div class="input-group input-group-md">
                        </div>
                      </div>

                    </th>
                  </tr>
                  <tr>
                    <th>Account</th>
                    <th>Branch</th>
                    <th>Region</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>





    </div>
  </div>
</div>











  <script>
    $(document).ready(function () {
      $('.filters input, .filters select', this).on('keyup', (function (_this) {
        return function (e) {
          var th;
          th = $(e.target).closest("th");

          // Update search information
          //var searchInfoTag = $(e.target).attr("data-search");
          //$(".search-results-table ."+searchInfoTag).html($(e.target).val());

          return $.agentsDataTableApi.column(th.index()).search($(e.target).val()).draw(function(){

          });
        };
      })(this));

      $("#create_agent_btn").click(function(){
        $.confirm({
          title: 'Create a New Agent',
          content: '' +
          '<form class="formName" id="create-agent-form">' +
          '<div class="form-group">' +
          '<label>Enter Account:</label>' +
          '<input type="text" placeholder="Account" class="account-field form-control" required  maxlength="12" />' +
          '</div>' +
          '<div class="form-group">' +
          '<label>Enter Branch:</label>' +
          '<input type="text" placeholder="Branch" class="branch-field form-control" required />' +
          '</div>' +
          '<div class="form-group">' +
          '<label>Enter Region:</label>' +
          '<input type="text" placeholder="Region" class="region-field form-control" required />' +
          '</div>' +
          '</form>',
          type: "blue",
          buttons: {
            formSubmit: {
              text: 'Create',
              btnClass: 'btn-blue',
              action: function () {
                var accountFieldValue = this.$content.find('.account-field').val();
                var branchFieldValue = this.$content.find('.branch-field').val();
                var regionFieldValue = this.$content.find('.region-field').val();
                if(!accountFieldValue){
                  $.alert({
                    title: 'Validation Error!',
                    content: "Please enter an Account id.",
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                      ok: {
                        text: 'Ok',
                        action: function () {
                        }
                      }
                    }
                  });
                  return false;
                }else if(!regionFieldValue){
                  $.alert({
                    title: 'Validation Error!',
                    content: "Please enter a Region.",
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                      ok: {
                        text: 'Ok',
                        action: function () {
                        }
                      }
                    }
                  });
                  return false;
                }else{
                  if(accountFieldValue.length < 6){
                    $.alert({
                      title: 'Validation Error!',
                      content: "Account id must be 6 or more characters.",
                      type: 'red',
                      typeAnimated: true,
                      buttons: {
                        ok: {
                          text: 'Ok',
                          action: function () {
                          }
                        }
                      }
                    });
                    return false;
                  }else{
                    clientComm.post("/agents", "account="+pad_with_zeroes(accountFieldValue, 12)+"&branch="+branchFieldValue+"&region="+regionFieldValue, function(){
                      //Successs
                      $.alert({
                        title: 'Success!',
                        content: "Agent successfully added.",
                        type: 'green',
                        typeAnimated: true,
                        buttons: {
                          ok: {
                            text: 'Ok',
                            action: function () {
                            }
                          }
                        }
                      });
                      $.agentsTable.draw();
                    }, function(){
                      // Fail
                      $.alert({
                        title: 'Server Error!',
                        content: "Error trying to add agent. Please contact admin.",
                        type: 'red',
                        typeAnimated: true,
                        buttons: {
                          ok: {
                            text: 'Ok',
                            action: function () {
                            }
                          }
                        }
                      });


                    })
                  }
                }
              }
            },
            cancel: function () {
              //close
            },
          },
          onContentReady: function () {
            // bind to events
            var jc = this;
            this.$content.find('form').on('submit', function (e) {
              // if the user submits the form by pressing enter in the field.
              e.preventDefault();
              jc.$$formSubmit.trigger('click'); // reference the button and click it
            });
          }
        });
      });

    });
  </script>





























