<div class="home-container parent-center">


  <div class="child-center">
    <div class="title">
      <h1>Welcome to the Database Banking App</h1>
    </div>

    <div class="btn-container">
      <%= link_to "Agents Table", agents_path, :class => "btn btn-primary btn-inverse" %>
      <%= link_to "Transactions Table", transactions_path, :class => "btn btn-primary btn-inverse" %>
    </div>

  </div>

</div>


<style>
  .title h1 {
    margin-bottom: 2em;
    font-weight: 200 !important;
  }

  .home-container {
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .parent-center:before {
    content: '\200B';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .child-center {
    display: inline-block;
    vertical-align: middle;
  }

  .btn-container  a {
    padding: 1em;
    font-size: 1.5em;
    font-weight: 300;
  }

</style>