/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



.dataTables_filter {
    width: 50%;
    float: right;
    padding-left: 5px;
    padding: 0px 0px 5px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 12px;
}
.dataTables_filter label {
    padding: 0px;
    line-height: 26px;
    height: auto;
    margin: 0px;
    font-weight: normal;
}
.dataTables_filter label input {
    width: 150px;
    display: inline;
    margin-left: 5px;
}
.dataTables_length {
    width: 50%;
    float: left;
    padding: 0px 0px 5px;
    border-bottom: 1px solid #E5E5E5;
    font-size: 12px;
}

.nav-container{
    margin-top: 1em;
    padding: 0 1em;
}

.filters th > input{
    width: 100% !important;
}

.sign-out{
    margin-right: 2px;
    line-height: 32px;
    height: 32px;
    border: 1px solid transparent;
    margin: 0 0 1em 0;
}

.sign-out > a{
    height: 32px !important;
    padding: 5px !important;
    background: #5fb2f3 !important;
    border-radius: 5px !important;
    width: 80px !important;
    text-align: center !important;
    color: white !important;
}

.filters .form-group{
    margin: 0 !important;
}

.table.table-striped.table-bordered.dataTable.fixedHeader-floating{
    z-index: 99;
}

.dataTables_filter{
    display: none;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
    z-index: 9999 !important;
}

.data-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: calc(50% - 60px);
    margin-top: 200px;
    border-width: 5px;
}

.data-loader-container {
    background: white !important;
    margin: 0 5px 0 2px !important;
}

.loading-text{
    color: slategrey;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.dataTables_processing{
    z-index: 9999 !important;
    top: 0 !important;
    background: transparent !important;
}

.dataTables_scrollBody{
    background: white !important;
}

.date-picker-wrapper{
    z-index: 9999 !important;
}

.agent-add-action button{
    margin: 0.5em 0;
}

.form-group{
    height: 2em !important;
}

.control-label{
    line-height: 2em !important;
}