
<div class="nav-container">
  <ul class="nav nav-tabs">
    <li class="presentation">
      <%= link_to "Agents", agents_path, class: 'nav-link' %>
    </li>
    <li class="presentation active">
      <a class="nav-link" href="#">Transactions <span class="sr-only">(current)</span></a>
    </li>
    <li class="sign-out pull-right">
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'nav-link' %>
    </li>
  </ul>
</div>



<p>Enter Date: <input class ="datepicker"></p>

  <div>
    <div>
      <div class="panel">

        <div class="panel-body">
          <div class="table-responsive">
            <table id="transactionTable"  data-source="<%= transactions_url(format: "json") %>" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
              <tr class="filters">
                <th>

                  <div class="form-group">
                    <div class="input-group input-group-md">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                      <div class="icon-addon addon-md">
                        <input type="text" placeholder="UID" class="form-control">
                      </div>
                    </div>
                  </div>

                </th>
                <th>

                  <div class="form-group">
                    <div class="input-group input-group-md">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                      <div class="icon-addon addon-md">
                        <input type="text" placeholder="Customer" class="form-control">
                      </div>
                    </div>
                  </div>

                </th>
                <th>

                  <div class="form-group">
                    <div class="input-group input-group-md">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                      <div class="icon-addon addon-md">
                        <input type="text" id="dateFilter" placeholder="Date" class="form-control">
                      </div>
                    </div>
                  </div>

                </th>
                <th>

                  <div class="form-group">
                    <div class="input-group input-group-md">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                      <div class="icon-addon addon-md">
                        <input type="text" placeholder="Status" class="form-control">
                      </div>
                    </div>
                  </div>

                </th>
                <th>

                  <div class="form-group">
                    <div class="input-group input-group-md">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                      <div class="icon-addon addon-md">
                        <input type="text" placeholder="Mobile No." class="form-control">
                      </div>
                    </div>
                  </div>

                </th>
                <th>

                  <div class="form-group">
                    <div class="input-group input-group-md">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>
                      <div class="icon-addon addon-md">
                        <input type="text" placeholder="Amount" class="form-control">
                      </div>
                    </div>
                  </div>

                </th>
              </tr>
              <tr>
                <th>Tansaction Uid</th>
                <th>Customer</th>
                <th>Transaction Date</th>
                <th>Status</th>
                <th>Mobile No</th>
                <th>Transaction Amount</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th colspan="5" style="text-align:right">Total:</th>
                <th></th>
              </tr>
              </tfoot>
              <tbody></tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>

















































